<header class="mat-elevation-z4">
  <div class="box">
    <button class="menuBox" mat-button [matMenuTriggerFor]="menu"></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Conta</button>
      <button mat-menu-item>Configurações</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>
  <mat-icon class="expand_more" mat-button [matMenuTriggerFor]="menu">expand_more</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Conta</button>
    <button mat-menu-item>Configurações</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</header>
