<div class="headerPage">
  <h1>Modelos</h1>
  <button routerLink="mlRegister" class="mat-elevation-z8" mat-stroked-button>Criar Modelo</button>
</div>

<div class="container mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ModeloID </th>
        <td mat-cell *matCellDef="let model" (click)="redirect(model.id)"> {{model.id}} </td>
      </ng-container>

      <ng-container matColumnDef="modelName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome do Modelo </th>
        <td mat-cell *matCellDef="let model" (click)="redirect(model.id)"> {{model.modelName}} </td>
      </ng-container>

      <ng-container matColumnDef="modelResponsible">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsável </th>
        <td mat-cell *matCellDef="let model" (click)="redirect(model.id)"> {{model.modelResponsible}} </td>
      </ng-container>

      <ng-container matColumnDef="modelCollection">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coleção </th>
        <td mat-cell *matCellDef="let model" (click)="redirect(model.id)"> {{bringCollectionName(this.model.modelCollection)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
  </mat-paginator>

</div>
