.sidenav {
  width: 12rem;
  color: white;
}

.nav-list a {
  color: #000000;
  width: 100%;
}

.nav-list i {
  color: #000000;
  margin-right: 0.6rem;
  vertical-align: middle;
}

.nav-list label {
  color: #000000;
  font-size: 0.8rem;
}
