.sidenav {
  width: 12rem;
  color: white;
}

.svg {
  margin-left: 10px;
  margin-top: 30px;
}

.list {
  margin-top: 80px;
}

.nav-list a {
  color: #000000;
  width: 100%;
}

.nav-list i {
  color: #000000;
  margin-right: 0.6rem;
  vertical-align: middle;
  margin-left: 10px;
}

.nav-list label {
  color: #000000;
  font-size: 0.8rem;
  margin-left: 15px;
}
