<mat-nav-list class="nav-list">
  <a mat-list-item routerLink="dashboard">
    <i class="material-icons">dashboard</i>
    <label for="">Dashboard</label>
  </a>
  <a mat-list-item routerLink="">
    <i class="material-icons">perm_media</i>
    <label>Coleções</label>
  </a>
  <a mat-list-item routerLink="">
    <i class="material-icons">category</i>
    <label>Modelos</label>
  </a>
  <a mat-list-item routerLink="">
    <i class="material-icons">help</i>
    <label>Obter Ajuda</label>
  </a>
  <a mat-list-item routerLink="">
    <i class="material-icons">mode_comment</i>
    <label>Comentários</label>
  </a>
</mat-nav-list>
