.container {
  width: 90%;
  margin: 1rem auto;
  border-radius: .6rem;
  background-color: #fff;
}

.headerPage {
  display: flex;
  margin: 3% 15.5%;
}

h1 {
  text-align: center;
  margin-top: 3px;
  margin-right: 67%;
}

button {
  width: 25%;
  margin-bottom: 1rem;
  background-color: #0073CF;
}

th, td {
  text-align: center;
  justify-content: center;
  align-items: center;
}
