.container {
  width: 90%;
  margin: 1rem auto;
  border-radius: .6rem;
  background-color: #fff;
}

.headerPage {
  display: flex;
  margin: 1.35% 15.7% 2.1% 15.7%;
}

h1 {
  text-align: center;
  margin-top: 3px;
  margin-right: 67%;
}

button {
  width: 25%;
  margin-bottom: 1rem;
  background-color: #0073CF;
}

td:hover {
  background: #3086cc;
  color: white;
}
