* {
  padding: 0 2rem;
}

.container {
  width: 90%;
  margin: 3% auto;
  padding: 3rem 1rem 3rem 1rem;
  border-radius: .6rem;
  background-color: #fff;
}

.halfWidth {
  width: 50%;
}

h1 {
  margin-top: 1.5%;
  margin-left: 14%;
}

.picture {
  text-align: center;
}

mat-icon {
  opacity: 0.8;
}

.bts {
  text-align: right;
  margin-bottom: 0.2rem;
  margin-top: 1.5rem;
}

button {
  margin-left: 30px;
  width: 16%;
}

