*{
  overflow-x: hidden;
}

.container {
  padding: 0;
  min-width: 100%;
  margin: auto;
  height: 100%;
  background: #F2F5FF;
}

.top-content {
  display: flex;
  padding: 0;
  flex-direction:row;
}

app-header {
  margin-left: -58px;
}

.menu {
  margin: 0.6rem 0 0 0.6rem;
  color: #dfe7ff;
  background: #b1c4ff;
}

mat-icon {
  background: #b1c4ff;
}
